# {{ ansible_managed }}
# See loader.conf(5) for details.

title Arch Linux Fallback
linux /vmlinuz-linux
initrd /{{ platform }}-ucode.img
initrd /initramfs-linux-fallback.img
options rootfstype=btrfs rootflags=subvol=@ root=LABEL=ArchLinux
